{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 170,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "singleAttributePerLine": false
}
